body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.board {
    display: flex;
    width: 750px;
    height: 750px;
    border: 2px solid white;
}

.row {
    border: 1px solid white;
}
